---
# =============================================================================
# User Service - Service
# =============================================================================

apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: orange-wallet
  labels:
    app: user-service
    component: backend
spec:
  type: ClusterIP
  selector:
    app: user-service
    component: backend

  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP

  sessionAffinity: None
