apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
  labels:
    app.kubernetes.io/name: vault
data:
  vault.hcl: |
    ui = true

    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = 1
    }

    storage "raft" {
      path = "/vault/data"
      node_id = "vault-0"
    }

    api_addr = "http://vault-0.vault-internal:8200"
    cluster_addr = "https://vault-0.vault-internal:8201"

    disable_mlock = true

    log_level = "info"
