apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vault

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: vault
  app.kubernetes.io/part-of: security
