---
apiVersion: v1
kind: Service
metadata:
  name: waha
  namespace: orange-wallet
  labels:
    app: waha
    component: messaging
spec:
  type: ClusterIP
  selector:
    app: waha
    component: messaging
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
