apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: observability
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: default
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 1h

    receivers:
      - name: default
        webhook_configs:
          - url: http://grafana.observability.svc:3000/api/alertmanager  # atau ke webhook kamu
