apiVersion: v1
kind: Service
metadata:
  name: cadvisor
  namespace: observability
  labels:
    app: cadvisor
spec:
  type: ClusterIP
  selector:
    app: cadvisor
  ports:
    - name: http
      port: 8080
      targetPort: 8080
