apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://github.com/Capstone-Project-Two/be-capstone-project.git'
    path: orange-wallet-gitops/infrastructure/ingress
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: orange-wallet
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
