apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaNotificationPolicy
metadata:
  name: default-policy
  namespace: observability
spec:
  instanceSelector:
    matchLabels:
      app.kubernetes.io/name: "grafana"
  route:
    receiver: "Telegram"
    
    # CHANGE THESE FROM camelCase TO snake_case
    group_by: ["alertname", "grafana_folder", "severity"]
    group_wait: "30s"
    group_interval: "5m"
    repeat_interval: "4h"
    
    routes:
      - receiver: "Telegram"
        object_matchers:
          - ["team", "=", "devops"]