apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - statefulset.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: uptime-kuma
  app.kubernetes.io/component: monitoring
  app.kubernetes.io/part-of: observability
